[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Find 7 OP (OnePlus One) Maintainers
	label-Verified = -1..+1 group Find 7 OP (OnePlus One) Maintainers
	submit = group Find 7 OP (OnePlus One) Maintainers
	create = group Find 7 OP (OnePlus One) Maintainers
	push = +force group Find 7 OP (OnePlus One) Maintainers
	pushMerge = group Find 7 OP (OnePlus One) Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Find 7 OP (OnePlus One) Maintainers
[access]
	inheritFrom = android_device_oppo_msm8974-common
